<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Baker - v4.10.0
  * Template URL: https://bootstrapmade.com/baker-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">AGPT</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          {% if user.is_authenticated %}
          <li><a class="nav-link scrollto" href="/cat">Categories</a></li>
          {%else%}
          <li><a class="nav-link scrollto" href="#categories">Categories</a></li>
          {%endif%}
          <li><a class="nav-link scrollto" href="#testimonials">Testimonials</a></li>
          <li><a class="nav-link scrollto" href="/feedback">Feedback</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          {% if user.is_authenticated %}
          <ul class="navbar-nav mr-2">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/logout" id="navbarDropdown" role="button" data-toggle="dropdown"> Logout</a>
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/logout">Logout</a>
            
                    </div> -->
                    
                  </li>
                  </ul>
                  
          {% else %}
          <li><a class="nav-link scrollto" href="/log">Login</a></li>     
          {% endif %}
                </div>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  {% comment %} {% for message in messages%}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message!</strong> <b>{{ message }}</b>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div> {% endcomment %}

      {% comment %} {%endfor%} {% endcomment %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container position-relative">
      <h1>Welcome to AGPT</h1>
      <h2>We are team of talented developers creating article summary using Transformers</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">  

    <!-- ======= Clients Section ======= -->
    
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Article Summarization using Generative Pretrained Transformer
            </h3>
            <p>
              The website will use APIs to gather articles from a variety of sources on the internet
and then use a generative pre-trained transformer to produce concise summaries of
the articles
            </p>
            <div class="row">
              <div class="col-md-6">
                <i class="bx bx-receipt"></i>
                <h4>Deep learning model</h4>
                <p>The deep learning model used in this project will be trained on a large corpus of
                  news articles and summaries to accurately capture the key information and important
                  points of each article. This training will ensure that the summarized articles provide a
                  comprehensive understanding of the original content while still being brief and easy
                  to digest.</p>
              </div>
              <div class="col-md-6">
                <i class="bx bx-cube-alt"></i>
                <h4>Personalized and Automated Approach</h4>
                <p>The personalized and automated approach to news summarization offered by this
                  project has the potential to revolutionize the way people stay informed and make
                  sense of the vast amount of information available on the internet. This is especially
                  important in today's fast-paced world where people are constantly bombarded with
                  information from a multitude of sources.</p>
              </div>      
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    

    <!-- ======= Categories Section ======= -->
    <section id="categories" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Categories</h2>
          <p>News categories encompass a wide range of topics, including sports, entertainment, education, technology, health and lifestyle, and trade and professional, and you can select any of these categories to stay informed.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <i class="bx bxl-dribbble"></i>
              </div>
              <h4>Sports</h4>
              <p>Sports news is the reporting of events and information related to competitive physical activities or games</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <i class="bx bx-file"></i>
              </div>
              <h4>Health & Medicine</h4>
              <p>Health and lifestyle news covers the reporting of information, trends, and events related to health, wellness, and personal habits, including nutrition, fitness, disease prevention, and environmental factors affecting health</p>
              
            </div>
          </div>  
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <i class="bx bx-tachometer"></i>
              </div>
              
              <h4>Education</h4>
              <p>Education news refers to the reporting of events, policies, and developments in the field of education and learning, including early childhood, K-12, higher education, and lifelong learning.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
              <div class="icon">
                <i class="bx bx-layer"></i>
              </div>
              <h4>Technology</h4>
              <p>Technology news covers the reporting of new developments, trends, and products in the field of technology, including computer hardware, software, electronics, and telecommunications.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red">
              <div class="icon">
                <i class="bx bx-slideshow"></i>
              </div>
              <h4>Entertainment</h4>
              <p>Entertainment news is the reporting of events, trends, and personalities related to the entertainment industry, including movies, music, television, and celebrities.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <i class="bx bx-arch"></i>
              </div>
              <h4>Trade & Professional</h4>
              <p>Trade and professional news refers to the reporting of information, events, and developments specific to a particular industry or profession, including business and finance, law, medicine, and scientific research.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>TO BE UPDATED</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  TO BE UPDATED
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>TO BE UPDATED</h3>
                <h4>TO BE UPDATED &amp; TO BE UPDATED</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  TO BE UPDATED
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Chandravo Bhattacharya</h3>
                <h4>Chutiya</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  TO BE UPDATED
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>TO BE UPDATED</h3>
                <h4>TO BE UPDATED</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  TO BE UPDATED
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>TO BE UPDATED</h3>
                <h4>TO BE UPDATED</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  TO BE UPDATED
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>TO BE UPDATED</h3>
                <h4>TO BE UPDATED</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <p>Our team consists of a full-stack developer, a backend developer, and a machine learning researcher, bringing expertise in web development, server-side design, and AI/ML.</p>0
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Bhavya Gupta</h4>
                <span>Machine Learning</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="static/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Yashvin Goyal</h4>
                <span>Back-End developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="static/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Vishnu Kumar Srivastava</h4>
                <span>Front-End Developer</span>
              </div>
            </div>
          </div>


        </div>

      </div>
      
    </section><!-- End Team Section -->
    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <footer id="footer">

          <div class="footer-top">
            <div class="container">
              <div class="row">
      
                <div class="col-lg-3 col-md-6 footer-contact">
                  <h3>AGPT</h3>
                  <p>
                    Thapar Institute of Engineering and Technology <br>
                    Patiala,Punjab<br>
                    India <br><br>
                    <strong>Phone:</strong> +91 8985332456<br>
                    <strong>Email:</strong> bhavya2k03@gmail.com<br>
                  </p>
                </div>
      
                <div class="col-lg-2 col-md-6 footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="categories">Categories</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                  </ul>
                </div>
      
                <div class="col-lg-3 col-md-6 footer-links">
                  <h4>Our Categories</h4>
                  <ul>
                    <li><i class="bx bx-chevron-right"></i>Sports</li>
                    <li><i class="bx bx-chevron-right"></i>Education</li>
                    <li><i class="bx bx-chevron-right"></i>Health & Medicine</li>
                    <li><i class="bx bx-chevron-right"></i>Technology</li>
                    <li><i class="bx bx-chevron-right"></i>Entertainment</li>
                    <li><i class="bx bx-chevron-right"></i>Trade & Professional</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      
          <div class="container d-md-flex py-4">
      
            <div class="me-md-auto text-center text-md-start">
              <div class="copyright">
                &copy; Copyright <strong><span>AGPT</span></strong>. All Rights Reserved
              </div>
              <div class="credits">
                Designed by Team Maverics
              </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </footer><!-- End Footer -->
        {% comment %} <div class="section-title">
          {% if user.is_authenticated %}
          <h2>Welcome {{request.user}}</h2>
          {% else %}
          <h2>Register</h2>
          {% endif %}
          <p>To fully experience all the features and benefits that we offer, we encourage you to create an account with us. We look forward to welcoming you as a registered user and providing you with an exceptional experience on our website.</p>
          {% endcomment %}
        </div> 

        

          {% comment %} </div>
          {% if user.is_authenticated %}
          <div class="col-lg-6">
              <div class="row">
          <a  href="/logout"><h2>Logout</h2></a>
          <br>
          <br>
          <br>
          <br>
          <a  href="/cat"><h2>Edit categories</h2></a>
              </div>
            </div>  
          

          {% else %}
          <div class="col-lg-6">
            <form action="/login" method="post" role="form" >
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="password" id="password" placeholder="Password" required>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="cnfpassword" id="cnfpassword" placeholder="Confirm Password" required>
              </div>
              
              <div class="my-3">
                <div class="loading"></div>
                <div class="error-message"></div>
                <div class="sent-message"></div>
              </div>
              
              {% csrf_token %}
              <div class="text-center">
                <button type="submit">Submit</button>
                <a href="/log"><h2>Already have account? ... click here</h2> </a>
              </div>
            </form>
          </div>
          {% endif %}

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main --> {% endcomment %}

  <!-- ======= Footer ======= -->
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>


  <script src="static/assets/js/main.js"></script>

</body>

</html>
