* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
  /* background: rgb(201, 255, 210); */
}

.navbar__container {
  /* background: rgb(33, 41, 54); */
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #d7dad7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #d7dad7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* position:static; */
  height: 59px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  position: sticky;
  top: 0;
  z-index: 999;
}
/* .navbar__container {
  height: 50px;
  background: rgb(0, 0, 0);
} */

#navbar__logo {
  background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
  /* background-image: linear-gradient(to top, rgb(116, 41, 198) 0%, #fc99ff 100%); */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: "Sigmar", cursive;
  display: flex;
  font-weight: bolder;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 12px;
}
.main__img-container {
  margin-top: 125px;
  padding: 0px;
}

.main__content-container {
  margin-left: 75px;
  margin-top: 60px;
  padding-right: 0px;
}

.main__content-heading {
  font-size: 60px;
  /* font-weight: bold; */
  /* font-family: "Times New Roman", Times, serif; */
  font-family: "sigmar";
  /* font-family: "Bruno Ace SC", cursive; */
}

.main__content-para {
  font-family: "Kanit", sans-serif;
  font-size: 17px;
  color: rgb(117, 114, 114);
}

.container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;
      align-items: center; */
}

.welcome-back__img {
  height: 513px;
  width: 727px;
}

/* changes */
.main__form-container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  /* box-shadow: 0 5px 10px rgb(0 0 0 / 10%); */
  overflow: hidden;
  margin: 32px 0px;
}

.main__form-container .forms {
  margin-left: -30px;
  display: flex;
  align-items: center;
  height: 440px;
  width: 200%;
  transition: height 0.2s ease;
}

.main__form-container .form {
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.main__form-container.active .login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.main__form-container .signup {
  opacity: 0;
  transition: opacity 0.09s ease;
}
.main__form-container.active .signup {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.main__form-container.active .forms {
  height: 600px;
}
.main__form-container .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
  font-family: "sigmar";
}

.form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  /* background-color: #4070f4; */
  background-color: #f48840;
  border-radius: 25px;
}

.form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.input-field input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  font-family: "Kanit", sans-serif;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  border-bottom-color: #4070f4;
}

.input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i {
  color: #4070f4;
  /* color: #d9f440; */
}

.input-field i.icon {
  left: 0;
}
.input-field i.showHidePw {
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.form .checkbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}

.checkbox-content input {
  margin: 0 8px -2px 4px;
  accent-color: #4070f4;
}

.form .text {
  color: #333;
  font-size: 14px;
}

.form a.text {
  color: #4070f4;
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}

.form .button {
  margin-top: 35px;
}

.form .button input {
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background: #ff8008;
  background: -webkit-linear-gradient(to right, #ffc837, #ff8008);
  background: linear-gradient(to right, #ffc837, #ff8008);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover {
  background-color: #265df2;
}

.form .login-signup {
  margin-top: 30px;
  text-align: center;
}

.login-signup .text {
  font-size: 16px;
  font-family: "Kanit", sans-serif;
}
